{% extends "base.html" %}
{% block content %}
{% load filters %}
<center>
{% if rel %}
 <h2>Thank you!</h2>
	<a href="/video/movie/{{ movie.pk }}">
              {% if movie.image %}
		<img class="movie-container-img" src="{{ movie.image }}" alt="{{ movie.title }}">
               {% endif %}
            <h2>{{ movie.title }}</h2>
        </a>
  <b><a href="/video/movie/{{ movie.pk }}" target="_top">Access content</a></b>
 {% else %}
 <h2>{{ movie.title }} - Price: {{ movie.price|currency }}</h2>
	<a href="/video/movie/{{ movie.pk }}">
              {% if movie.image %}
		<img class="movie-container-img" src="{{ movie.image }}" alt="{{ movie.title }}">
               {% endif %}
        </a><br/>
  <b>Confirm payment</b>
  <form action="/video/buy/{{ movie.pk }}?{{ request.urlstate }}">
   <input name="code" type="submit" value="Confirm">
  </form>

{% endif %}
</center>
{% endblock %}

