{% extends "base.html" %}
{% load filters %}
{% load i18n %}
{% block content %}
   <h1>{{ movie.title }}</h1>
   <div style="z-index: -9999; margin: 0 auto; width: 100%; height: 400px;">  
        <object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="100%" height="100%">
                <param name="movie" value="{{ MEDIA_URL }}player/player.swf" />
                <param name="allowfullscreen" value="true" />
                <param name="allowscriptaccess" value="always" />
                <param name="flashvars" value="streamer=rtmp://10.2.44.86:1935/vod&file={{ movie.pk }}.flv&type=rtmp&autostart=false" />
                <embed 
                        type="application/x-shockwave-flash"
                        id="player2"
                        name="player2"
                        src="{{ MEDIA_URL }}player/player.swf" 
                        allowscriptaccess="always" 
                        width="100%" 
                        height="100%" 
                        allowfullscreen="true"
                        flashvars="streamer=rtmp://10.2.44.86:1935/vod&file=trailers/{{ movie.pk }}.flv&type=rtmp&autostart=false&image={{ MEDIA_URL }}covers/{{ movie.pk }}.jpg"
                />
        </object>
     </div>
{% endblock %}

{% block sidebar %}
<div class="box">{{ movie.description }}</div>
<div style="padding: 10px;">
       {{ movie.year }} {% trans 'year' %} <br>
       {% trans 'Rating' %}: <b>{{ movie.rating }}</b>
       <h4>
       {% ifequal purchased "No" %}<a class="act" href="/video/buy/{{ movie.pk }}">Full version ({{ movie.price|currency }})</a>{% endifequal %}
       {% ifequal purchased "Yes" %}You purchased access this content</h4>{% endifequal %}
       </h4>
</div>
{% endblock %}
