<!DOCTYPE html><html xml:lang="ru" lang="ru-RU" xmlns="http://www.w3.org/1999/xhtml">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"  href="{{ MEDIA_URL }}css/socialauth.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
{% block extra_head %}
{% endblock %}
</head>
<body style="margin: 5px; height:auto;">
{% block extra_body %}
{% endblock %}
{% block content %}
{% endblock %}
<script type="text/javascript">{% block initscript %}{% endblock %}</script>
</body>
</html>
