        <div id="header" class="clear">
            <h1>
                <a href='/' title="Play"><img id="logo-play" src="{{ MEDIA_URL }}static/img/layout/logo_play.png" width="72" height="40" alt="Play" /></a>
            </h1>

            <figure id="logo-yota">
                <a href="#"><img src="{{ MEDIA_URL }}/static/img/layout/logo_yota.png" width="22" height="48" alt="Yota" /></a>
            </figure>

            <a id="bag-toggle" href="javascript:void(0);">My Movies&nbsp;<span class="number">0</span></a>

             {% if user.is_authenticated %}
            <p id="sign-in">Logged in as <a href="#">{{ user }}</a> | <a href="/accounts/logout">Logout</a></p>
             {% else %}
            <p id="sign-in"><a href="/accounts/login">Login</a> | <a href="/accounts/register">Register</a> | <a href="/social/login">Social login</a></p>
             {% endif %}
        </div>
        <!-- /#header -->

        <!-- bag -->
        <div id="bag" class="" style=" ">
         <div id="bag-inner"></div>
        </div>

            <!-- nav-main -->

<script type="text/javascript">

    $(document).ready(function() {
        <!-- Catalog sub menu -->
        $("#menu-catalog").click(function() {
            $("#catalog-sub-menu").slideToggle("fast");
        });

        $("#catalog-sub-menu a").click(function(e) {
          YVWC.Engine.showView("GenreView", { uid : e.target.id });
		  e.preventDefault();
        });

        <!-- Search suggestion -->
        $("#search-field").field().find(":text").autocomplete("/suggest", {
			formatItem : function(row, i, max) {
				return "<a href='#' onclick=\"YVWC.Search.switchView('" + row[1] + "', '" + row[2] + "')\">" + row[0] + "</a>";
			}
		});

        <!-- Search button -->
	    $("#search-field :button").click(function(e) {
		    YVWC.Engine.showView("SearchResultsView", { q : $("#search-field :text").val() });
        });
    });
</script>


<div class="hr"><hr /></div>
<div id="nav-main">
    <h2 class="offscreen">Главная навигация</h2>
    <ul>
        <li class="current"><a href="/">Главная</a></li>
        <li><a href="/video/gallery/recommended">Рекомендации</a></li>
        <li><a href="/video/gallery/views">Топ просмотров</a></li>
        <li><a href="/video/gallery/rating">Топ оценок</a></li>
        <li><a href="/video/gallery/favorites">Самое любимое</a></li>
        <li><a href="#" id="menu-catalog">Каталог</a></li>
        <li class="last"><a href="#">Друзья</a></li>
    </ul>
    <div style="padding-top: 10px;">
		<div id="search-field" class="text-field">
			<input type="text" name="searchQuery" value="" />
			<input type="button" class="btn-go" value="GO" />
			<span class="br"></span>
			<span class="bl"></span>
			<span class="tr"></span>
			<span class="tl"></span>
		</div>
    </div>
</div>
<!-- Catalog submenu -->
<div id="catalog-sub-menu" style="margin-left: 300px; display: none;">
        <ul style="display:inline-block; vertical-align: top">
            <li>
                <a href='/video/genre/id'>Genre (count)</a>
            </li>
        </ul>
</div>
