{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.ui.plupload.css" type="text/css" />
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/gears_init.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/plupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/plupload.gears.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/plupload.silverlight.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/plupload.flash.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/plupload.browserplus.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/plupload.html4.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/plupload.html5.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/plupload/jquery.ui.plupload.js"></script>
{% endblock %}
{% block content %}
<form  method="post" action="dump.php"><div id="uploader"></div></form>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block initscript %}
$("#uploader").pluploadQueue({
		// General settings
		runtimes : 'html5,browserplus,flash,silverlight,gears,html4',
		url : '{% url video.views.upload %}',
		max_file_size : '1000mb',
		chunk_size : '1mb',
		unique_names : true,
		multiple_queues : true,
		flash_swf_url : '{{ MEDIA_URL }}js/plupload/plupload.flash.swf',
		silverlight_xap_url : '{{ MEDIA_URL }}js/plupload/plupload.silverlight.xap'
	});
{% endblock %}
