{% for rel in relations.object_list %}
<li>
<div id="bag-{{ rel.movie.pk }} "class="movie-block">
     <div class="movie-container">
		<a href="/video/movie/{{ rel.movie.pk }}">
            						<h3>{{ rel.movie.title }}</h3>
              {% if rel.movie.image %}
		<img class="movie-container-img" src="{{ rel.movie.image }}" alt="{{ rel.movie.title }}"><br>
              {% else %}
		Смотреть<br>
              {% endif %}
                Просмотров: {{ rel.movie.views }}
     </a>
   </div>
 </div>
</li>
{% endfor %}
{% if relations.has_next %}
{% else %}
<li></li>
{% endif %}
