{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h2>Online multimedia content marketplace</h2>
  <ul class="drop">
   <li>
    <a href='{% url upload %}'>
     <h1 class="card-title">{% trans "Sell your content here" %}</h1>
     <div class="card-desc">{% trans "Here you can upload your content in the cloud or create it from scratch" %}</div>
    </a>
   </li>
  </ul>
  <ul class="list">
   {% for cat in cats %}
   <li>
    <a href='{{ cat.get_absolute_url }}'>
     <h1 class="card-title">{{ cat.get_title }}</h1>
     <div class="card-desc">{{ cat.description }}</div>
    </a>
   </li>
   {% endfor %}
{% endblock %}
{% block sidebar %}
  <p style="margin: 10px;">What is <span style="color: #F68618;">Cloud Pub</span>?</p>
  <ul style="list-style: square; margin: 10px; padding: 10px;">
   <li>Create or upload your content in the cloud</li>
   <li>Publish text, images, music, movies and software from fast cloud network</li>
   <li>Access your content from mobile phones and tablets</li>
   <li>Share it with community under Creative Commons licence</li>
   <li>Sell content ypu own under commerical license for your price</li>
   <li>Advertize your content in social networks</li>
   <li>..just by few mouse clicks</li>
  </ul>
{% endblock %}
{% block initscript %}
{% endblock %}

