{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h2>Online video consultations</h2>
<script type="text/javascript">
function getFlashMovie(movieName) {
    var isIE = navigator.appName.indexOf("Microsoft") != -1;
    return (isIE) ? window[movieName] : document[movieName];  
}
</script>
<table style="width: 640px;"><tbody><tr valign="top">
<td>
<object width="320" height="240" id="video1" data="{{ MEDIA_URL }}VideoIO.swf" type="application/x-shockwave-flash">
    <param value="VideoIO.swf" name="movie">
    <param value="high" name="quality">
    <param value="#000000" name="bgcolor">
    <param value="true" name="allowFullScreen">
    <param value="always" name="allowScriptAccess">
    <param value="controls=true" name="flashVars">
</object>
<center>
<input type="text" value="rtmp://cloudpub.us/myapp" style="width: 170px;" autocomplete="off" id="src1">
?publish=
<input type="text" value="anonymous" style="width: 50px;" autocomplete="off" id="publish1">
<br>
<input type="button" onclick="getFlashMovie('video1').setProperty('src', 
        document.getElementById('src1').value
        + '?publish=' + document.getElementById('publish1').value)" value="set">
<input type="button" onclick="getFlashMovie('video1').setProperty('src', null)" value="reset">
</center>
</td>
<td>
<object width="320" height="240" id="video2" data="{{ MEDIA_URL }}VideoIO.swf" type="application/x-shockwave-flash">
    <param value="VideoIO.swf" name="movie">
    <param value="high" name="quality">
    <param value="#000000" name="bgcolor">
    <param value="true" name="allowFullScreen">
    <param value="always" name="allowScriptAccess">
    <param value="controls=true" name="flashVars">
</object>
<center>
<input type="text" value="rtmp://cloudpub.us/myapp" style="width: 170px;" autocomplete="off" id="src2">
?play=
<input type="text" value="anonymous" style="width: 50px;" autocomplete="off" id="play2">
<br>
<input type="button" onclick="getFlashMovie('video2').setProperty('src', 
        document.getElementById('src2').value
        + '?play=' + document.getElementById('play2').value)" value="set">
<input type="button" onclick="getFlashMovie('video2').setProperty('src', null)" value="reset">
</center>

</td></tr></tbody></table>

{% endblock %}
{% block sidebar %}
This is future site. Nothing interested yet.
{% endblock %}
{% block initscript %}
{% endblock %}

