{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
{% endblock %}
{% block content %}
<script type="text/javascript">
	<!--
	
	var base_url = "/room";
    
	// The Adobe stratus URL for my application
	var media_url = 'rtmp://cloudpub.us/cloudpub';
	
	// The VideoIO play URL of my stream.
	var src = null;
	
	// The VideoIO play URL of other person's stream
	var dest = null;
	
	// The periodic timer to periodically login in soft-state.
	var timer = null;
	
	// The periodic timer interval for login soft-state.
	var publish_interval = 60000;
	
	// The socket created with channel API, created in createChannel().
	var socket = null;
	
	// The channelId for the channel API for this client's ID (stream).
	var channelId = null;
	
	// The channel created with channel API, created in createChannel().
        var channel = null;
    
	// Get the Flash Movie by name, e.g., "video1" or "video2".
	function getFlashMovie(movieName) {
	    var isIE = navigator.appName.indexOf("Microsoft") != -1;
	    return (isIE) ? window[movieName] : document[movieName];
	}
    	
	var stream = Math.floor(Math.random()*100000000).toString();

        function createChannel() {
		$.get( base_url + "/stream/" + stream + ":open", function( data ) {
			log("Channel created");
			Server.connect( "http://cloudpub.us:9000" );
                        Server.subscribe( stream, function( data ) {
				log("Data received:" + data );
			});
		} );
    	}
    
	createChannel();
    
        // When VideoIO is created, and user has specified the name, start local video.
	function onCreationComplete(event) {
		if (event.objectID == "video1") {
			var url = media_url + "?publish=" + stream;
			getFlashMovie("video1").setProperty("src", url);
		}		
		if (event.objectID == "video2") {
			var url = media_url + "?play=" + stream;
			getFlashMovie("video2").setProperty("src", url);
		}		
	}

	// When local video's nearID is set, set our "src" property and initiate login.
	function onPropertyChange(event) {
		if (event.property == "nearID" && event.objectID == "video1") {
			src = media_url + "?nickname=" + me + "&play=" + stream + "&farID=" + event.newValue;
			setTimeout("login(true)", 1000); // first invocation after 1 second.
			timer = setInterval("login()", publish_interval);
		}
	}

	function send() {
		var msg = document.getElementById("input").value;
		if (msg) {
			document.getElementById("input").value = "";
			log("Me: " + msg);
			Server.send( stream, msg );
		}
	}
	
	// Write a message to the chat history text area.
	function log(msg) {
		var obj = document.getElementById("history");
		obj.value += (obj.value == "" ? "" : "\n") + msg; 
	}

	//-->
	</script>	
<div style="height: 500px;">
    <div style="position: absolute; left: 10px; top: 10px; width: 320px; height: 240px;">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="video1" width="320" height="240"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="{{ MEDIA_URL }}VideoIO.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#000000" />
			<param name="allowFullScreen" value="true" />
			<param name="flashVars" value="controls=true&cameraQuality=80" />
			<param name="allowScriptAccess" value="always" />
			<embed src="{{ MEDIA_URL }}VideoIO.swf" quality="high" bgcolor="#000000"
				width="320" height="240" name="video1" align="middle"
				play="true" loop="false" quality="high"
				allowFullScreen="true"
				flashVars="controls=true&cameraQuality=80"
				allowScriptAccess="always"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
		</object>
    </div>
    <div style="position: absolute; left: 10px; top: 260px; width: 320px; height: 240px;">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="video2" width="320" height="240"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="{{ MEDIA_URL }}VideoIO.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#000000" />
			<param name="allowFullScreen" value="true" />
			<param name="flashVars" value="controls=true" />
			<param name="allowScriptAccess" value="always" />
			<embed src="{{ MEDIA_URL }}VideoIO.swf" quality="high" bgcolor="#000000"
				width="320" height="240" name="video2" align="middle"
				play="true" loop="false" quality="high"
				allowFullScreen="true"
				allowScriptAccess="always"
				flashVars="controls=true"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
		</object>
    </div>

	<div style="position: absolute; left: 340px; top: 10px; width: 320px; height: 490px;">
		<div style="float: right; height: 18px;">
			<div id="local" style="float: left;"></div>
		</div>
		<textarea id="history" autocomplete="off"
			style="width: 320px; height: 410px;"></textarea>
		<br/>
		Enter your text message: 
		<input id="input" type="text" autocomplete="off"
			style="width: 320px; height: 24px;"
			onkeypress="javascript: if ((event.keyCode || event.which) == 13) { send(); return false; }"/>
			
		<div style="float: right; height: 18px;">
			<div id="remote" style="float: left;">You are not connected</div> &nbsp; |
			<a href="#" onclick="javascript: login(true); return false;">Next Person in this category</a>
		</div> 
	</div>
</div>

{% endblock %}
{% block sidebar %}
<div class="box">
Conferencing goes here
</div>
{% endblock %}
{% block initscript %}
{% endblock %}

