{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/chat.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/Orbited.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/stomp.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/JSON.js"></script>
<script type="text/javascript">
	var stream    = "{{ room.pk }}";
   	var server    = "{{ site.domain }}";
	var user      = "{{ request.user.username }}";
        var comet_port = 9999;
        var TCPSocket = Orbited.TCPSocket;
	var client = new STOMPClient();

	jQuery.extend(jQuery.expr[':'], {
    		focus: function(element) { 
        		return element == document.activeElement; 
    		}
	});

        $( function() {
		log("Connecting...");
		client.onopen = function() {
			log("You connected to chat");
    			window.onbeforeunload = function() {
        			client.disconnect(); 
    			};
    		};

    		client.onclose = function(c) {
			log("Connection lost, Code:" + c);
    		};
    		client.onerror = function(error) {
        		log("ERROR: " + error); 
    		};

    		client.onerrorframe = function(frame) {
        		log("ERROR FRAME:  " + frame.body); 
    		};

    		client.onconnectedframe = function() {
        		client.subscribe( stream );
    		};

    		client.onmessageframe = function(frame) { //check frame.headers.destination?
			var msg = eval( "(" + frame.body + ")" );
        		log( "<div style='float: left; clear: both; width: 100%;'><img src='http://lh6.ggpht.com/_ezj-aDmzzk8/S1G4SBFgWRI/AAAAAAAAHDU/dctu2DdALHs/s72-c/satflm-.jpg'/>" + "<span style='width: 78%;' class='triangle-border left'>" + msg.text + "</span></div>" );
    		};

    		var cookie = $.cookie("sessionid");
    		client.connect(server, comet_port, user, cookie);
		$('#msg').keypress( function(event) {
			if ((event.keyCode || event.which) == 13) { 
				send( $(this).attr('value') );
				$(this).attr('value','');
				return false; 
			}
		});
		$('#msg').bind('focus',function() {
			scrollme();
    		});
		$('#chat').tabs();

    	} );
   
	function scrollme() {
		var msg = $('#msg');
		if( msg.is(':focus') ) {
			var pos = msg.position();
			var offset = $('body').height() - pos.top - 30;
			$(window).scrollTop(parseInt(pos.top) - offset );
		}
	}
 
	function send(msg) {
		client.send( '{"type":"chat","text":"' + msg + '"}', stream );
	}
	
	// Write a message to the chat history text area.
	function log(msg) {
		$("#chat-public").append( msg + "\n" );
		scrollme();
	}
	</script>	
{% endblock %}
{% block content %}
<div id="chat">
 <ul>
  <li><a href="#chat-public">Public</a></li>
 </ul>
 <div id="chat-public">
 </div>
 <input id="msg" type="text" autocomplete="off" style="width: 98%; height: 24px;"/>
</div>
{% endblock %}
{% block sidebar %}
<div class="box">
This is text chat with user
</div>
{% endblock %}
{% block initscript %}
{% endblock %}

