{% load i18n %}
	<form action="{% url signup %}" method="post" accept-charset="utf-8">{% csrf_token %}
	<fieldset>
		<legend>{% trans "User registration" %}</legend>
		{% for field in form.visible_fields %}
			{% if forloop.first %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
			{% endif %}
			{{ field.label_tag }}
			<p>
				{{ field }}
				{% if field.errors %}
					<span class="quiet red"><br />* {{ field.errors|join:"; " }}</span>
				{% endif %}
			</p>
		{% endfor %}
		{% if form.non_field_errors %}
			<ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
		{% endif %}
	</fieldset>
	<p><input type="submit" value="{% trans 'Register' %}" /></p>
	</form>

