{% extends "base.html" %}
{% load i18n %}
{% block sidebar %}
<ul class="sidemenu">
<li>Sort by</li>
 <li><a href="{{ category.get_absolute_url }}?sort=date_time&page={{ request.page }}" id="rating">{% trans "Date" %}</a></li>
 <li><a href="{{ category.get_absolute_url }}?sort=place&page={{ request.page }}" id="views">{% trans "Place" %}</a></li>
<li>Subcategories</li>
{% if category.parent %}<li><a href="{{ category.parent.get_absolute_url }}{{ request.urlstate }}">{% trans "Back to " %}{{ category.parent.get_title }}</a></li>{% endif %}
{% for child in category.children.all %}
<li><a href="{{ child.get_absolute_url }}{{ request.urlstate }}">{{ child.get_title }}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block content %}

<p>
    <h1 class="title">Category: {{ category.get_title }}</h1>
    <h2 class="description">{{ category.description }}</h2>
</p>
{% if search %}
    <h1>Search results for: {{ search }}</h1>
{% endif %}
<ul class="list">
{% if category.parent %}<li><h1><a href="{{ category.parent.get_absolute_url }}{{ request.urlstate }}">{% trans "Back to " %}{{ category.parent.get_title }}</h1></a></li>{% endif %}
{% for child in category.children.all %}
<li><h1><a href="{{ child.get_absolute_url }}{{ request.urlstate }}">{{ child.get_title }}</h1></a></li>
{% endfor %}
</ul>
<h1>Events</h1>
<ul class="list">
      {% for event in events %}
          <li><a href="{% url ticket_view 0 %}{{ request.urlstate }}event={{ event.pk }}"><h3>{{ event }} ({{ event.get_ticket_count }} tickets available)</h3></a></li>
      {% endfor %}
</ul>
<h1>Actions</h1>
<ul class="actions">
    <li class="action"><h1><a href="{% url ticket_view 0 %}?action=sell">Offer service this category</a></h1></li>
    <li><h1><a href="{% url ticket_view 0 %}?action=buy">Request service in this category</a></h1></li>
</ul>
{% endblock %}
