{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
        <script type="text/javascript"> if (window != top) { top.location.href = location.href;}</script>
	<title>{% block title %}{% trans "Cloud Pub" %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/theme.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/schedule.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.fancybox-1.3.1.css"></script>

	<!-- JQuery -->
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fancybox-1.3.1.pack.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js" type="text/javascript"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
        {% block extra_head %}
        {% endblock %}
</head>
<body>
{% block extra_body %}
{% endblock %}
<!--header -->
<div id="header-wrap">
<div id="header">
<a name="top"></a>
<a href="/" title="Logo">
<h1 style="padding-top: 50px; font-family: etica-1,etica-2,Helvetica,Arial,sans-serif; font-size: 84px; font-weight: bold;">Cloudpub<sup style="font-size: 24px; top: -50px; position: relative;">beta</sup>
</h1>
</a>
<div id="nav">
<ul>
  <li><a href="{% url index %}">{% trans "Home" %}</a></li>
  <li><a href="{% url category 'root' %}">{% trans 'Categories' %}</a></li>
  <li><a href="{% url rooms_view %}">{% trans 'My Rooms' %}</a></li>
  <li class="authorized" style="display: none;"><a href="{% url profile_overview %}">{% trans 'Profile' %} (<u id="username"></u>)</a></li>
  <li class="authorized" style="display: none;"><a href="{% url socialauth.views.social_logout %}">{% trans "Sign out" %}</a></li>
  <li class="unauthorized" style="display: none;"><a class="act" href="{% url socialauth.views.login_page %}">{% trans "Sign in" %}</a></li>
</ul>
</div>
   <!-- <p id="rss"><a href="#">Grab the RSS feed</a></p> -->
   <form id="quick-search" action="{% url category request.category %}">
      <fieldset class="search">
         <label for="qsearch">Search:</label>
         <input class="tbox" id="search" name="search" value="Search..." title="Start typing and hit ENTER" type="text">
         <button type="submit" class="btn" title="Submit Search">Search</button>
      </fieldset>
   </form>
<!--/header-->
</div></div>
<!-- content-outer -->
<div id="content-wrap" class="clear">
   <div id="content">
     <div id="main">
	<!-- Main content start -->
	{% block content %}{% endblock %}
	<!-- Main content end -->
     </div>
     <!-- sidebar -->
     <div id="sidebar" class="sidemenu">
	{% block sidebar %}{% endblock %}
     </div>
   </div>
</div>

<!-- footer-outer -->
<div id="footer-outer" class="clear">
  <div id="footer-wrap">
    <div class="col-a">
      <h3>Contact Info</h3>
      <p><strong>E-mail: </strong>support@cloudpub.us</p>
    </div>
    <div class="col-b">
      <h3>Updates</h3>
      <ul class="subscribe-stuff">
        <li><a title="Facebook" href="http://www.ermak.us/index.html" rel="nofollow">
                                <img alt="Facebook" title="Facebook" src="{{ MEDIA_URL }}img/social_facebook.png"></a>
                        </li>
                        <li><a title="Twitter" href="http://www.ermak.us/index.html" rel="nofollow">
                                <img alt="Twitter" title="Twitter" src="{{ MEDIA_URL }}img/social_twitter.png"></a>
                        </li>
      </ul>
      <p>Stay up to date. Subscribe via
                <a href="http://www.ermak.us/index">Facebook</a>,
                <a href="http://www.ermak.us/index">Twitter</a>
      </p>
   </div>
<!-- /footer-outer -->
</div></div>
<!-- footer-bottom -->
<div id="footer-bottom">
        <p class="bottom-left">
           © 2010 <strong>Ermak Consulting, Inc.</strong>&nbsp; &nbsp; &nbsp;
        </p>
        <p class="bottom-right">
           <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
           <a href="http://validator.w3.org/check/referer">XHTML</a>    |
           <a href="/">Home</a> |
           <strong><a href="#top">Back to Top</a></strong>
        </p>
<!-- /footer-bottom-->
</div>
<script type="text/javascript">
{% block initscript %}{% endblock %}
</script>
</body>
</html>

