{% extends "base.html" %}
{% load i18n %}
{% block sidebar %}
<ul class="sidemenu">
<li>Sort by</li>
 <li><a href="{{ category.get_absolute_url }}?sort=rating&page={{ request.page }}" id="rating">{% trans "Rating" %}</a></li>
 <li><a href="{{ category.get_absolute_url }}?sort=views&page={{ request.page }}" id="views">{% trans "Popularity" %}</a></li>
 <li><a href="{{ category.get_absolute_url }}?sort=publish&page={{ request.page }}" id="publish">{% trans "Date" %}</a></li>
<li>Subsections</li>
{% if category.parent %}<li><a href="{{ category.parent.get_absolute_url }}{{ request.urlstate }}">{% trans "Back to " %}{{ category.parent.get_title }}</a></li>{% endif %}
{% for child in category.children.all %}
<li><a href="{{ child.get_absolute_url }}{{ request.urlstate }}">{{ child.get_title }}</a></li>
{% endfor %}
 </ul>

{% endblock %}

{% block content %}
<p><h1 class="title">{{ category.get_title }}</h1></p>
<p class="description">{{ category.description }}</p>

<ul class="list">
      {% for movie in movies.object_list %}
          <li>{% include "card.html" %}</li>
      {% endfor %}
</ul>

{% if search %}
    <h1>Search results for: {{ search }}</h1>
{% endif %}

<div class="pages">
        {% if movies.has_previous %}
            <a href="{{ category.get_absolute_url }}?sort={{ request.sort }}&page={{ movies.previous_page_number }}">&lt;&lt;</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %}&nbsp;{{ movies.number }}&nbsp;{% trans "from" %} {{ movies.paginator.num_pages }}
        </span>

        {% if movies.has_next %}
            <a href="{{ category.get_absolute_url }}?sort={{ request.sort }}&page={{ movies.next_page_number }}">&gt;&gt;</a>
        {% endif %}
</div>


{% endblock %}
