{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
{% endblock %}
{% block content %}
<script type="text/javascript">
function getFlashMovie(movieName) {
    var isIE = navigator.appName.indexOf("Microsoft") != -1;
    return (isIE) ? window[movieName] : document[movieName];  
}
</script>

<table style="width: 640px;"><tbody><tr valign="top">
<td>
<object width="320" height="240" id="video1" data="{{ MEDIA_URL }}VideoIO.swf" type="application/x-shockwave-flash">
    <param value="VideoIO.swf" name="movie">
    <param value="high" name="quality">
    <param value="#000000" name="bgcolor">
    <param value="true" name="allowFullScreen">
    <param value="always" name="allowScriptAccess">
    <param value="controls=true" name="flashVars">
</object>
<center>
<input type="hidden" value="rtmp://cloudpub.us/myapp" style="width: 170px;" autocomplete="off" id="src1">
<input type="hidden" value="anonymous" style="width: 50px;" autocomplete="off" id="publish1">
<input type="button" onclick="getFlashMovie('video1').setProperty('src', document.getElementById('src1').value+ '?publish=' + document.getElementById('publish1').value)" value="Publish">
<input type="button" onclick="getFlashMovie('video1').setProperty('src', null)" value="Stop">
</center>
</td>
<td>
<object width="320" height="240" id="video2" data="{{ MEDIA_URL }}VideoIO.swf" type="application/x-shockwave-flash">
    <param value="VideoIO.swf" name="movie">
    <param value="high" name="quality">
    <param value="#000000" name="bgcolor">
    <param value="true" name="allowFullScreen">
    <param value="always" name="allowScriptAccess">
    <param value="controls=true" name="flashVars">
</object>
<center>
<input type="hidden" value="rtmp://cloudpub.us/myapp" style="width: 170px;" autocomplete="off" id="src2">
<input type="hidden" value="anonymous" style="width: 50px;" autocomplete="off" id="play2">
<input type="button" onclick="getFlashMovie('video2').setProperty('src', document.getElementById('src2').value+ '?play=' + document.getElementById('play2').value)" value="Connect room">
<input type="button" onclick="getFlashMovie('video2').setProperty('src', null)" value="Disconnect">
</center>
</td>
</table>


{% ifequal role 'CUSTOMER' %}
<h1>Request training</h1>
{% else %}
<h1>Offer training</h1>
{% endifequal %}
<form action="{% url ticket_view id %}{{ request.urlstate }}&action={{ action }}" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Post request"/>
</form>
{% endblock %}
{% block sidebar %}
<div class="box">Here you can test our conferencing system and create your own training room</div>
{% endblock %}
{% block initscript %}
{% endblock %}

